.designGuide {
    --guide-left: 106px;
    --guide-right: 106px;

    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 159px 0 0;
    background-color: #070503;
    overflow: hidden;
    text-align: left;
    font-size: clamp(23px, 2.014vw, 29px);
    color: var(--color-white);
    font-family: var(--font-noto-sans);
}

.guideHeader {
    position: relative;
    display: inline-block;
    min-height: 38px;
    margin-left: var(--guide-left);
}

.guideDot {
    position: absolute;
    top: 0;
    left: -14px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--color-violet);
}

.guideTitle {
    position: relative;
    display: block;
    font-size: clamp(22px, 1.979vw, 28.5px);
    line-height: 38px;
    letter-spacing: -0.03em;
    font-weight: 600;
}

.guideIcon {
    display: block;
    width: calc(100% - var(--guide-left) - var(--guide-right));
    max-width: 1612px;
    height: auto;
    margin: 30px 0 0 var(--guide-left);
}

.iconsIcon {
    display: block;
    width: 100vw;
    height: auto;
    margin-top: 56px;
}

@media (max-width: 1330px) and (min-width: 768px) {
    .designGuide {
        --guide-left: 106px;
        --guide-right: 92px;

        padding-top: 128px;
    }
}

@media (max-width: 767px) {
    .designGuide {
        --guide-left: 30px;
        --guide-right: 16px;

        padding-top: 129px;
        font-size: clamp(22px, 1.979vw, 28.5px);
    }

    .guideDot {
        left: -14px;
        width: 38px;
        height: 38px;
    }

    .guideTitle {
        font-size: clamp(22px, 1.979vw, 28.5px);
        line-height: 38px;
    }
}
